%h1 Listing eventos

%table
  %thead
    %tr
      %th
      %th
      %th

  %tbody
    - @eventos.each do |evento|
      %tr
        %td= link_to 'Show', evento
        %td= link_to 'Edit', edit_evento_path(evento)
        %td= link_to 'Destroy', evento, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Evento', new_evento_path
